# CMS_API_BASE_URL=http://localhost:5500/api
# CMS_DEV_AUTH_BYPASS=true
# CMS_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjZhYThkY2YxODc4NWRhZTY1NDA0ZDU2ZSIsInJvbGUiOiJhZG1pbiIsImlhdCI6MTc4OTUzNzg4NCwiZXhwIjoxNzg5NTM4Nzg0fQ.qKZCZKOMWUfwXBmSrwZyRsB0UXXJENX5l_PQ46w0a
CMS_API_BASE_URL=https://2gns9fe744.execute-api.ap-south-1.amazonaws.com/api
CMS_DEV_AUTH_BYPASS=false
